.paragraph {
    color: #3b434e;
}

.medium {
    font-size: 16px;
    line-height: 24px;
}

.low {
    font-size: 14px;
    line-height: 24px;
}

.big {
    font-size: 18px;
    line-height: 29px;
}
