.tags {
    h1 {
        font-weight: 500;
        font-size: 26px;
        line-height: 35px;
    }

    h2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #3b434e;
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #3b434e;
    }
}
