html,
body {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
